{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ tran.route }}</span>
                <p>Branch: {{ tran.branch }}</p>
                <p>Vehicle: {{ tran.transit_type }}</p>
                <p>Hours of Operation: {{ tran.time }}</p>
            </div>
            <div class="card-action">
                <a href="#">Edit</a>
                <a href="#">Delete</a>
            </div>
        </div>
    </div>
    
    <div class="col s6">
        <h3>Comments</h3>
        {% for c in com %}
        <div class="card">
            <div class="card-content">
                <h5>{{ c.title }}</h5>
                <p>{{ c.content }}</p>
                <hr>
                <p class="right">Posted: {{c.timestamp}} | By: {{c.user}}</p>
                
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include 'main_app/comment.html' %}




{% endblock %}