{% extends 'base.html' %}

{% block content %}

    <title>Account Information</title>
</head>
<body>
    <header>
        <nav class="teal accent-3">
                <ul class="left">
                    <li><img src="#" alt="SoundTransitHub"></li>
                </ul>
                <ul class="right">
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </nav>
    </header>
    
    <div class="container center">
        <h2>Ahoy, {{ request.user }}, access your account here!</h2>
    </div>

    <div id="information" class="card-panel teal accent-3">
        <h4>Information</h4>
        <p>Username: {{ accounts.user }}</p>
        <p>Email: {{ accounts.email }}</p>
    </div>
    
    <div id="location" class="card-panel teal accent-3">
        <h4>Location </h4>
        <p>Address: {{ accounts.address }}</p>
        <p>City: {{ accounts.city }}</p>
        <p>State: {{ accounts.state }}</p>
        <p>ZIP Code: {{ accounts.zipcode }}</p>
    </div>

    <div id="profile" class="card-panel teal accent-3">
        <h4>Add a Member</h4>
    
    </div>

</body>

{% endblock %}
