{% extends 'base.html' %}

{% block content %}

    <title>Account Information</title>
</head>
<body>
    <header>
        <nav class="teal accent-3">
                <ul class="left">
                    <li><img src="#" alt="SoundTransitHub"></li>
                </ul>
                <ul class="right">
                    <li><a href="/">LOGOUT</a></li>
                </ul>
            </nav>
    </header>

    <h1>Account Page</h1>
    
    <div>
        <h2>Ahoy, {{ request.user }}!</h2>
        <p>This is where your account information will be located.</p>
    </div>
    
</body>

{% endblock %}
