{% extends 'base.html' %}

{% block content %}

    <title>Account Information</title>
</head>
<body>
    <header>
        <nav class="teal accent-3">
                <ul class="left">
                    <li><img src="#" alt="SoundTransitHub"></li>
                </ul>
                <ul class="right">
                    <li>
                        <form class="logout-link" action="{% url 'logout' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn">Logout</button>
                        </form>
                    </li>
                </ul>
            </nav>
    </header>
    
    <div class="container center">
        <h2>Ahoy, {{ request.user }}, access your account here!</h2>
    </div>

    <div class="card-panel teal accent-3">
        <h3>Information:</h3>
        <p>First Name: {{ request.user.first_name }}</p>
        <p>Last Name: {{ request.user.last_name }}</p>
        <p>Email: {{ request.user.email }}</p>
    </div>
    
</body>

{% endblock %}
