{% extends 'base.html' %}

<!-- This is the landing page -->

{% block content %}

<!-- CSS -->
<style>
body {
    /* need to fix this!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
    background: black;
}
h3 {
    color: white;
}
#signupcard {
    width: 450px;
}
.dropdown-content {
    top: -65px;
    width: 300px;
}
#contact {
    width: 800px;
    margin: auto;
}

</style>

<!-- page content -->
<body>
        <nav class="transparent" style="color: black;">
            <ul class="left">
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">EXPLORE</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
            <ul class="right">
                <!-- Login dropdown trigger -->
                <li><a href="#" data-target="login" class="dropdown-trigger">LOGIN</a></li>
            </ul>
        </nav>

<!-- materialize dropdown and login form -->
        <div id="login" class="dropdown-content">
            <form action="{% url 'index' %}" method="POST" class="site-form col container">
                {% csrf_token %}
                {{ login_form }}
                <input type="submit" value="Login" class="btn">
            </form>
        </div>
        
    <h3 class="center-align">SoundTransitHub!</h3>

<!-- Sign up form modal-trigger -->
    <div class="row" id="signupcard">
        <div class="card-panel transparent center">
            <a class="btn" href="{% url 'signup' %}">Signup</a>
        </div>
    </div>

<!-- Explore section -->
<div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="images/sample-1.jpg">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>


</body>

{% endblock %}
