{% extends 'base.html' %}
<!-- This is the landing page -->

{% block content %}

<body class="teal lighten-2">
    <header>
        <nav class="teal">
            <ul class="left">
                <li><img src="#" alt="logo"></li>
            </ul>
            <ul class="right">
                <li><a href="/">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">EXPLORE</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#">LOGIN</a></li>
            </ul>
        </nav>
    </header>
        
    <h1 class="center-align">Welcome to Sound Transit Hub!</h1>

    <div class="row">
        <div class="card-panel black center">
            <h2 class="white-text">Create Your Pod!</h2>
            <button>Sign Up!</button>
        </div>
    </div>

</body>
{% endblock %}