{% extends 'base.html' %}

{% block content %}

<h2 class='center'>Transit Arrival Time:</h2>

<div class="center">
    <p id='eta'>Click Me!</p>
</div>



<!-- Javascript for OneBusAway API -->
<Script>

let display = document.getElementById(eta);
eta.addEventListener('click', test);

function test() {
    fetch('https://cors-anywhere.herokuapp.com/' + 'http://api.pugetsound.onebusaway.org/api/where/arrivals-and-departures-for-stop/1_75790.json?key=683488fe-ec3e-499e-ae74-6774058697bc')
    .then(function(res) {
        return res.json();
    })
    .then(function(res) {
        const date = moment(res.predictedArrivalTime).format('LLLL');
        console.log(res.predictedArrivalTime);
        eta.textContent = date;
        return res;
    })
    .catch(function(err) {
        console.log('err', err);
    })
}

</Script>

{% endblock %}

